# Special cases
# ......................................................................

code-of-conduct.html

# General cases: Editors
# ......................................................................
*.kate-swp
*~
\#*#
.#*
.*.swp
*.orig

# General cases: Operating systems
# ......................................................................
.DS_Store
Thumbs.db
